body {
	padding-top: 70px;
}

.theme_box{
	overflow: hidden;
	padding: 5px;
	margin-bottom: 25px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #eee;
}
.theme_box:hover{
	background: #EBEBEB;
}
.theme_box.active{
	background: #FBE2BD;
}
.theme_box.dndDraggingSource{
	display: none;
}
#themes_list .dndPlaceholder{
	background-color: #ddd;
	min-height: 142px;
	border-radius: 5px;
	margin-bottom: 25px;
}
.theme_img{
	display: inline-block;
	width: 120px;
}
.theme_meta{
	color: silver;
}
.theme_geek{
	display: inline-block;
	margin-right: 10px;
}
