<section id="page_title">
	<div class="container">
		<div class="page-header">
			<h1>Новости для Радио-Т 
				<small ng-if="news.type == 'all'">Все новости</small>
				<small ng-if="news.type == 'geek'">Гиковские</small>
				<small ng-if="news.type == 'del'">Удаленные</small>
			</h1>
		</div>
	</div>
</section>
<section id="themes_list">
	<div class="container" dnd-list="news.items" ng-if="login_state.is_admin">
		<div class="text-center" ng-if="news.loading">Загружаю...</div>
		<div class="theme_box" 
			ng-repeat="(key, item) in news.items"
			ng-if="!geek_only || (geek_only && item.geek)"
			ng-include="'js/views/news_item.html'"
			ng-class="{'active': item.active}"
			dnd-draggable="item"
			dnd-moved="news.items.splice($index, 1)"
			dnd-effect-allowed="move"
			dnd-selected="selected = item"
		></div>
		<div class="dndPlaceholder"></div>
	</div>
	
	<div class="container" ng-if="!login_state.is_admin">
		<div class="text-center" ng-if="news.loading">Загружаю...</div>
		<div class="theme_box" 
			ng-repeat="(key, item) in news.items"
			ng-if="!geek_only || (geek_only && item.geek)"
			ng-include="'js/views/news_item.html'"
			ng-class="{'active': item.active}"
		></div>
	</div>

	<modal title="modal.title" visible="modal.visible">
		<div ng-bind-html="modal.body"></div>
	</modal>
</section>