<div class="col-md-9">
	<h4><a href="{{item.link}}" target="_blank" ng-bind-html="item.title"></a></h4>
	<div class="theme_meta">
		<span ng-bind="item.link | url:'hostname'"></span>,
		<span ng-bind="item.ts | date:'M/d/yy HH:mm:ss'"></span>
	</div>
	<div class="theme_anonse" ng-bind-html="item.snippet"></div>
</div>
<div class="col-md-3">
	<img ng-if="item.pic" ng-src="{{item.pic}}" alt="" class="theme_img img-rounded">
</div>
<div class="clearfix"></div>
<div class="col-md-12 theme_actions">
	<div class="pull-left">
		<a href="#" ng-click="openNewsModal($event, key)">Подробнее</a>
	</div>
	<div class="pull-right" ng-if="is_admin">
		<div class="checkbox theme_geek">
			<label>
				<input type="checkbox" ng-checked="item.geek"> Гиковская
			</label>
		</div>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-info btn-xs" ng-if="!item.active">Сделать текущей</button>
			<button type="button" class="btn btn-success btn-xs" ng-if="key">Сделать первой</button>
			<button type="button" class="btn btn-danger btn-xs">Удалить</button>
		</div>
	</div>
</div>