<section id="page_title">
	<div class="container">
		<div class="page-header">
			<h1>Новости для Радио-Т <small>{{themes.title}}</small></h1>
		</div>
	</div>
</section>
<section id="themes_list">
	<div class="container" dnd-list="themes.items">
		<div class="text-center" ng-if="themes.loading">Загружаю...</div>
		<div class="theme_box" 
			ng-repeat="(key, item) in themes.items"
			ng-if="!geek_only || (geek_only && item.geek)"
			ng-include="'js/views/theme_item.html'"
			ng-class="{'active': item.active}"
			dnd-draggable="item"
			dnd-moved="themes.items.splice($index, 1)"
			dnd-effect-allowed="move"
			dnd-selected="selected = item"
		></div>
		<div class="dndPlaceholder"></div>
	</div>
</section>